<!DOCTYPE html>
<html>
<head>
    <title>EX07: Scene Switching</title>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <!-- <script src="components/template-looper.js"></script> -->
</head>

<body>
    <a-scene>
      <a-assets>
        <script id="boxes" type="text/x-nunjucks-template">
          {% for x in range(0, 10) %}
            {% for z in range(0, 10) %}
              <a-entity template="src: components/boxes.template; type: nunjucks"
                        data-position="{x} * 10 1 {z} * 10"></a-entity>
            {% endfor %}
          {% endfor %}
        </script>
      </a-assets>
      <a-sky color="#6EBAA7"></a-sky>
      <a-entity template="src: #boxes"></a-entity>
    </a-scene>

</body>

</html>
